<footer class="footer">
  <section class="footer-container">
    <article class="sides">
      <div class="image-logo" routerLink="/"></div>
    </article>
    <article class="center">
      <div class="legal-list">
        <p>2019 Pizza Delirious</p>
        <nav class="nav-footer">
          <div class="nav-container">
            <ul>
              <li>Política de cookies</li>
              <li routerLink="/legal">Aviso legal</li>
            </ul>
          </div>
        </nav>
      </div>
    </article>
    <article class="sides">
      <div class="social-icons">
        <a class="instagram" href="https://www.instagram.com/Delirious_pizza/" target="_blank"></a>
        <a class="facebook" href="https://www.facebook.com/delirious.delirious.509" target="_blank"></a>
      </div>
    </article>
  </section>
</footer>
