<section class="legal">
  <div class="container">
    <h1 class="text-center">Aviso Legal</h1>
    <article class="text-center">
      <b>Ley de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI)</b>
    </article>
    <article>
      <br>
      <p>Pizza Delirious, en cumplimiento de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de
      comercio electrónico, le informa:</p>
    </article>
    <article class="detail">
      <p><b>Denominación social: </b><span>Frutidimare Investment, SL.</span></p>
      <p><b>Nombre comercial: </b><span>Pizza Delirious.</span></p>
      <p><b>CIF: </b><span>B87547410</span></p>
      <p><b>Objeto: </b><span>Servicios de restauración
      Inscrita en el Registro Mercantil de R.M. MADRID – TOMO: 34681 – FOLIO: 123 – SECCION: 8 – HOJA: M623826</span></p>
      <p><b>Domicilio Social: </b><span>Calle Serrano 211, 28016 Madrid (Madrid).</span></p>
    </article>
    <article>
      <p>
        Le informamos que la web www.pizzadelirious.com tiene por objeto facilitar, al público en general, el conocimiento de
        las actividades que esta entidad realiza y de los productos y servicios que presta.
      </p>
      <p>
        De conformidad con lo establecido en el Reglamento Europeo 679/2016 de Protección de Datos o RGPD, garantiza la
        seguridad y confidencialidad de los datos facilitados por sus clientes. Ver Política de privacidad y Protección de
        Datos.
      </p>
      <p>
        Los derechos de propiedad intelectual de la Web www.pizzadelirious.com y de los distintos elementos en él contenidos
        son titularidad de Pizza Delirious.
      </p>
      <p>
        Nos reservamos la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y
        actualizaciones de la información contenida en www.pizzadelirious.com o en la configuración y presentación de éste.
      </p>
      <p>
        Pizza Delirious no garantiza la inexistencia de errores en el acceso a la Web, en su contenido, ni que éste se
        encuentre actualizado, aunque desarrollará sus mejores esfuerzos para, en su caso, evitarlos, subsanarlos o
        actualizarlos.
      </p>
      <p>
        Tanto el acceso a esta Web como el uso que pueda hacerse de la información contenida en el mismo es de la exclusiva
        responsabilidad de quien lo realiza. El usuario será responsable de todas las acciones que realice con su identificador
        de usuario. En concreto, será responsable de escoger, como clave y como recordatorio de esta, contraseñas y frases
        robustas, esto es, cifras y letras e incluso, en los sistemas que lo permitan, signos de puntuación y caracteres
        especiales, difíciles de adivinar. En especial, el usuario evitará escoger palabras del diccionario, palabras que estén
        relacionadas con él mismo (nombre de familiar, domicilio, fecha de nacimiento, etc.) o sencillas de adivinar
        (combinaciones de nombres con meses, prefijos y sufijos, etc.). Pizza Delirious no responderá de ninguna consecuencia,
        daño o perjuicio que pudieran derivarse de dicho acceso o uso de la información.
      </p>
      <p>
        La utilización no autorizada de la información contenida en esta Web, así como la lesión de los derechos de Propiedad
        Intelectual o Industrial de Pizza Delirious, dará lugar a las responsabilidades legalmente establecidas.
      </p>
    </article>
  </div>
  <app-footer></app-footer>
</section>
