<header class="delirious-bg">
  <div class="header-top">
    <!-- <h1>Pizza Delirious</h1> -->
    <!-- <i class="material-icons">visibility</i> -->
    <div class="header-logo"></div>
    <div class="horizontal-bar"></div>
  </div>
</header>
<section style="height:550px; width:100%; background-color:red"></section>
<section style="height:250px; width:100%;">
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d759.2145236871864!2d-3.6574271707624595!3d40.43414101949478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f49fa1672f7%3A0x52eecb6384b20cb0!2sCalle%20Virgen%20de%20la%20Alegr%C3%ADa%2C%2021%2C%2028027%20Madrid!5e0!3m2!1ses!2ses!4v1569362063102!5m2!1ses!2ses"
  width="100%" height="250px" frameborder="0" style="border:0;" allowfullscreen>
</iframe>
</section>
<app-footer></app-footer>
