<section class="carta">
  <div class="container">
    <h1 class="text-center">Nuestra carta</h1>
  </div>
  <article>
    <div class="container">
      <h2>Ensaladas</h2>
      <ul>
        <li>
          <span class="dish"><span class="name">DELIRIOUS</span></span>
          <span class="price">7.80</span>
        </li>
        <li>
          <span class="dish"><span class="name">BURRATA</span></span>
          <span class="price">6.90</span>
        </li>
      </ul>
    </div>
  </article>
  <article>
    <div class="container">
      <h2>Panes</h2>
      <ul>
        <li>
          <span class="dish"><span class="name">CLÁSICO</span></span>
          <span class="price">2.00</span>
        </li>
        <li>
          <span class="dish"><span class="name">AJO</span></span>
          <span class="price">2.50</span>
        </li>
        <li>
          <span class="dish"><span class="name">AJO Y QUESO</span></span>
          <span class="price">3.00</span>
        </li>
      </ul>
    </div>
  </article>
  <article>
    <div class="container">
      <h2>Entrantes</h2>
      <ul>
        <li>
          <span class="dish"><span class="name">CRISPIS DE POLLO</span></span>
          <span class="price">8.50</span>
        </li>
        <li>
          <span class="dish"><span class="name">PALITOS DE QUESO</span></span>
          <span class="price">8.50</span>
        </li>
        <li>
          <span class="dish"><span class="name">PATATAS GAJO DELIRIOUS</span></span>
          <span class="price">2.50</span>
        </li>
        <li>
          <span class="dish"><span class="name">PATATAS FRITAS NATURALES</span></span>
          <span class="price">2.00</span>
        </li>
      </ul>
    </div>
  </article>
  <article>
    <div class="container">
      <h2>Pizzas</h2>
      <ul>
        <li>
          <span class="dish">
            <span class="name">MARGARITA</span>
            <span class="ingredients">Tomate, queso y orégano</span>
          </span>
          <span class="price">6.90 ........ 14.00</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">COTTO</span>
            <span class="ingredients">Tomate, queso y jamón york</span>
          </span>
          <span class="price">8.10 ........ 15.30</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">COTTO E FUNGHI</span>
            <span class="ingredients">Tomate, queso, jamón york y champiñón</span>
          </span>
          <span class="price">8.75 ........ 17.80</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">HAWAIANA</span>
            <span class="ingredients">Tomate, queso, jamón york y piña</span>
          </span>
          <span class="price">9.25 ........ 17.25</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">PRIMAVERA</span>
            <span class="ingredients">Tomate, queso, jamón york, atún, champiñón y cebolla</span>
          </span>
          <span class="price">9.50 ........ 18.25</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">DEL MAR</span>
            <span class="ingredients">Tomate, queso, atún, cebolla, anchoas y aceitunas negras</span>
          </span>
          <span class="price">11.25 ........ 20.50</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">VITELLO</span>
            <span class="ingredients">Tomate, queso y ternera</span>
          </span>
          <span class="price">9.50 ........ 17.15</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">TOSCANA</span>
            <span class="ingredients">Tomate, queso, bacon y chorizo</span>
          </span>
          <span class="price">8.20 ........ 15.25</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">QUATTRO FORMAGGI</span>
            <span class="ingredients">Tomate, queso azúl, mozarella y queso gouda</span>
          </span>
          <span class="price">9.50 ........ 17.75</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">CARBONARA</span>
            <span class="ingredients">Salsa carbonara, queso, bacon y champiñón</span>
          </span>
          <span class="price">8.10 ........ 15.30</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">BOLOGNESA</span>
            <span class="ingredients">Salsa bolognesa y queso</span>
          </span>
          <span class="price">9.50 ........ 19.50</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">SERRANA</span>
            <span class="ingredients">Tomate, queso, jamón serrano, tomate cherry, ajo, oliva negra laminada y rúcula</span>
          </span>
          <span class="price">12.50 ........ 21.25</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">VEGETAL</span>
            <span class="ingredients">Queso, calabacín, zanahoria, champiñón, pimiento verde, pimiento rojo, espárragos y aceitunas negras</span>
          </span>
          <span class="price">11.75 ........ 19.50</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">BARBACOA</span>
            <span class="ingredients">Salsa barbacoa, queso, ternera y bacon</span>
          </span>
          <span class="price">12.25 ........ 19.80</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">DELIRIOUS</span>
            <span class="ingredients">Tomate, queso, ternera, pollo, carne desmechada, bacon y salsa picante</span>
          </span>
          <span class="price">11.50 ........ 20.25</span>
        </li>
      </ul>
    </div>
  </article>
  <article>
    <div class="container">
      <h2>Hamburguesas</h2>
      <ul>
        <li>
          <span class="dish">
            <span class="name">ANGUS BURGUER</span>
            <span class="ingredients">Black Angus 150gr., queso comembert, tomate fresco, brotes de Batavia, salsa tejana y cebolla crujiente</span>
          </span>
          <span class="price">8.50</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">GUINESS BURGUER</span>
            <span class="ingredients">Black Angus Macerada en extracto de Guiness 150gr., queso azúl, tomate semi seco, botes de Batavia y salsa bourbon</span>
          </span>
          <span class="price">9.80</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">CRISPY BURGUER</span>
            <span class="ingredients">Pechuga de pollo con empanado crujiente 120gr., tomate fresco, brotes de Batavia, salsa de queso, nachos y cebolla</span>
          </span>
          <span class="price">6.90</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">RUTA 66</span>
            <span class="ingredients">Carne de cerdo asada y deshebrada 150gr., queso brie, tomate fresco, brotes de Batavia, aguacate y salsa barbacoa</span>
          </span>
          <span class="price">9.50</span>
        </li>
      </ul>
    </div>
  </article>
  <article>
    <div class="container">
      <h2>Especialidades</h2>
      <ul>
        <li>
          <span class="dish">
            <span class="name">LASAÑA DE CARNE</span>
          </span>
          <span class="price">8.20</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">FILETE DE TERNERA</span>
          </span>
          <span class="price">11.25</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">ESCALOPES DE POLLO</span>
          </span>
          <span class="price">9.75</span>
        </li>
      </ul>
    </div>
  </article>
  <article>
    <div class="container">
      <h2>Postres</h2>
      <ul>
        <li>
          <span class="dish">
            <span class="name">TARTA DE CHOCOLATE</span>
          </span>
          <span class="price">3.75</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">TARTA DE ZANAHORIA</span>
          </span>
          <span class="price">3.75</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">TIRAMISÚ</span>
          </span>
          <span class="price">4.25</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">PROFITEROLES (6 unid.)</span>
          </span>
          <span class="price">3.50</span>
        </li>
      </ul>
    </div>
  </article>
  <article>
    <div class="container">
      <h2>Bebidas</h2>
      <ul>
        <li>
          <span class="dish">
            <span class="name">LAMBRUSCO</span>
          </span>
          <span class="price">6.75</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">FRAGOLINO</span>
          </span>
          <span class="price">8.20</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">REFRESCO</span>
          </span>
          <span class="price">1.90</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">AGUA ITALIANA</span>
          </span>
          <span class="price">1.30</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">CERVEZA SIN ALCOHOL</span>
          </span>
          <span class="price">1.90</span>
        </li>
        <li>
          <span class="dish">
            <span class="name">CERVEZA</span>
          </span>
          <span class="price">1.90</span>
        </li>
      </ul>
    </div>
  </article>
  <app-footer></app-footer>
</section>
